:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4f5;
  --tertiary-bg-color: linear-gradient(245deg, #1574db 0%, #0c4b9c 100%);

  --primary-color: #293540;
  --secondary-color: #ffffffbf;
  --tertiary-color: #29354066;
  --quartenary-color: #293540CC;

  --error-color:  #E65454;

  --primary-border: 1px solid #2a355033;

  --primary-font: "Lato", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: var(--primary-font);
}

body {
  background-color: var(--secondary-bg-color);
}

h1 {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding-left: 38px;
}

main {
  background-color: var(--primary-bg-color);
  border: 1px solid #2935401f;
  border-radius: 40px 0px 0px 0px;
  margin: 32px 0 0 32px;
  padding: 42px 28px 28px 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.cards-container {
  width: 25%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible-card[aria-expanded="true"] {
  margin: 24px 0px;
  width: 332px;
  height: 192px;
  background: var(--tertiary-bg-color);
  box-shadow: 0px 8px 12px #262f512e;
  border-radius: 12px;
  color: var(--secondary-color);
  padding: 20px;
  cursor: pointer;
}

.collapsible-card[aria-expanded="false"] {
  height: 72px;
  background: var(--secondary-bg-color);
  color: var(--primary-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 20px;
  width: 320px;
  cursor: pointer;
}

.card-header,.card-header-2 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card-header-2 > div:nth-child(2) {
  width: 60%;
}
.card-header img, .card-header-2 img,
.card-flag {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.bank-name {
  font-size: 1.6rem;
}

.last-update,
.date {
  font-size: 1.2rem;
}

.card-footer {
  display: flex;
  margin-top: 60px;
  font-size: 1.2rem;
  justify-content: flex-start;
  align-items: center;
}

.card-number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
}


#card-content > div.card-footer > div.card-expiration > div.expiration-title,
#card-content > div.card-footer > div:nth-child(1) > div:nth-child(1),
#card-content > div.card-footer > div.card-flag > span {
  font-size: 1.2rem;
}


#card-content > div.card-footer > div.card-expiration > div.expiration-date,
#card-content > div.card-footer > div:nth-child(1) > div.card-number > span {
  font-size: 1.4rem;
}

.description-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.description-header,
.description-content {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--primary-border);
  padding-bottom: 14px;
}

.description-header > span {
  text-align: left;
  color: var(--primary-color);
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--secondary-font);
}

.description-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
  padding: 16px 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.description {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.description-header > span:first-child{
  width: 600px;
}
.description-header > span:nth-child(n+2), span.date{
  width: 75px;
}

span.amount {
  width: 90px;
}
.description span:first-child {
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.description span:last-child {
  background: var(--secondary-bg-color);
  padding: 3px 8px;
  font-size: 1.2rem;
  color: var(--quartenary-color);
  font-family: var(--secondary-font);
  opacity: 1;
  border-radius: 6px;
  text-overflow: ellipsis;
  font-family: var(--secondary-font);
  max-width: 160px;
}

.amount {
  font-weight: 600;
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  text-align: right;
}

#card-content > div.card-footer > div.card-flag > img {
  fill: #fff;
}
#status {
  margin-right: 30px;
  align-items: center;
}
#status .tag{
  display: flex;
  flex-direction: column;
}

.collapsible-card[aria-expanded="false"] .card-flag {
  border-left: 1px solid #2935401F;
  padding-left: 20px;
}

.card-flag img {
  width: 40px;
  height: 16px;
}

.status-tag {
  background: var(--error-color);
  border-radius: 8px;
  padding: 2px 8px;
  color: var(--secondary-color);
  width: 87px;
  font-weight: 600;
  font-family: var(--secondary-font);
  margin-top: 6px;
}

.tag {
  display: flex;
  flex-direction: column;
}
.collapsible-card[aria-expanded="true"] .card-flag img {
  filter: invert(100%) brightness(407%) contrast(1);
}

.collapsible-card[aria-expanded="true"] .card-number span:first-child {
  margin-right: 10px;
}

.collapsible-card[aria-expanded="false"] .account-details {
  width: 137px;
}

.collapsible-card[aria-expanded="true"] .card-expiration {
  margin-right: 40px;
}
