:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4f5;
  --tertiary-bg-color: linear-gradient(245deg, #1574db 0%, #0c4b9c 100%);

  --primary-color: #293540;
  --secondary-color: #ffffffbf;
  --tertiary-color: #29354066;
  --quartenary-color: #293540cc;

  --error-color: #e65454;

  --primary-border: 1px solid #2a355033;

  --primary-font: "Lato", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: var(--primary-font);
}

body {
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding-left: 38px;
}

main {
  background-color: var(--primary-bg-color);
  border: 1px solid #2935401f;
  border-radius: 40px 0px 0px 0px;
  margin: 32px 0 0 32px;
  padding: 42px 28px 28px 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.cards-container {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 110px;
}

.collapsible-card[aria-expanded="true"][data-loaded="true"]{
  margin: 24px 0px;
  width: 332px;
  height: 192px;
  background: var(--tertiary-bg-color);
  box-shadow: 0px 8px 12px #262f512e;
  border-radius: 12px;
  color: var(--secondary-color);
  padding: 20px;
  cursor: pointer;
}
.collapsible-card[aria-expanded="true"][data-loaded="false"]{
  margin: 24px 0px;
  width: 332px;
  height: 192px;
  border-radius: 12px;
  padding: 20px;
}

.collapsible-card[aria-expanded="false"] {
  height: 72px;
  background: var(--secondary-bg-color);
  color: var(--primary-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 20px;
  width: 320px;
  cursor: pointer;
}

.collapsible-card[aria-expanded="false"][data-loaded="false"] {
  height: 72px;
  color: var(--primary-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 20px;
  width: 320px;
}

.card-header,
.card-header-2 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card-header-2 > div:nth-child(2) {
  width: 60%;
}
.card-header img,
.card-header-2 .bank-logo,
.card-flag {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.bank-name {
  font-size: 1.6rem;
}

.last-update,
.date{
  font-size: 1.2rem;
}

.card-footer {
  display: flex;
  margin-top: 60px;
  font-size: 1.2rem;
  justify-content: flex-start;
  align-items: center;
}

.card-number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
}

#card-content > div.card-footer > div.card-expiration > div.expiration-title,
#card-content > div.card-footer > div:nth-child(1) > div:nth-child(1),
#card-content > div.card-footer > div.card-flag > span {
  font-size: 1.2rem;
}

#card-content > div.card-footer > div.card-expiration > div.expiration-date,
#card-content > div.card-footer > div:nth-child(1) > div.card-number > span,
#account-details > div > div > span {
  font-size: 1.4rem;
}

#account-details > div > div > span {
  color: var(--tertiary-color);
}

.description-container {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

#description-content {
  overflow-y: scroll;
}

.description-header,
.description-content {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--primary-border);
  padding-bottom: 14px;
}

.description-header > span {
  text-align: left;
  color: var(--primary-color);
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--secondary-font);
}

.description-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
  padding: 16px 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.description {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.description-header > span:first-child {
  width: 600px;
}
.description-header > span:nth-child(n + 2),
span.date {
  width: 75px;
}
.description-content span.date {
  font-size: 1.4rem;
}
span.amount {
  width: 90px;
}
.description span:first-child {
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.description span:last-child {
  background: var(--secondary-bg-color);
  padding: 3px 8px;
  font-size: 1.2rem;
  color: var(--quartenary-color);
  font-family: var(--secondary-font);
  opacity: 1;
  border-radius: 6px;
  text-overflow: ellipsis;
  font-family: var(--secondary-font);
  width: fit-content;
}

.amount {
  font-weight: 600;
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  text-align: right;
}

#card-content > div.card-footer > div.card-flag > img {
  fill: #fff;
}
#status {
  margin-right: 30px;
  align-items: center;
}
#status .tag {
  display: flex;
  flex-direction: column;
}

.collapsible-card[aria-expanded="false"] .card-flag {
  border-left: 1px solid #2935401f;
  padding-left: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-flag img {
  width: 44px;
  height: 16px;
}

.status-tag {
  background: var(--error-color);
  border-radius: 8px;
  padding: 2px 8px;
  color: var(--secondary-color);
  width: 87px;
  font-weight: 600;
  font-family: var(--secondary-font);
  margin-top: 6px;
}

.tag {
  display: flex;
  flex-direction: column;
}
.collapsible-card[aria-expanded="true"] .card-flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
}

.collapsible-card[aria-expanded="false"] div.card-flag > span {
  font-size: 1.2rem;
  color: var(--tertiary-color);
}

.collapsible-card[aria-expanded="true"] .card-flag img {
  filter: invert(100%) brightness(407%) contrast(1);
}

.collapsible-card[aria-expanded="true"] .card-number span:first-child {
  margin-right: 10px;
}

.collapsible-card[aria-expanded="false"] .account-details {
  width: 137px;
}

.collapsible-card[aria-expanded="true"] .card-expiration {
  margin-right: 40px;
}


.skeleton {
  background: transparent linear-gradient(253deg, #F0EFEF 0%, #F8F8F8 79%, #F0F0F0 91%, #E8E8E8 100%) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  animation: loading 2s linear infinite;
}

.skeleton-date, .skeleton-amount {
  width: 70px;
  height: 17px;
}

.skeleton.skeleton-tag {
  width: 140px !important;
  height: 17px;
}

.skeleton-place {
  width: 280px;
  height: 17px;
}

@keyframes loading {

  0% {
    background: #E8E8E8;
  }

  25%{
    background: #F0F0F0;
  }

  50%{
    background: #F8F8F8;
  }

  100%{
    background: #F0EFEF;
  }
}
